/* ********************************** */
/* ************Variables************** */
/* ********************************** */
:root {
  --gradient-scissors: linear-gradient(
    90deg,
    hsl(39, 89%, 49%) 0%,
    hsl(40, 84%, 53%) 100%
  );
  --gradient-paper: linear-gradient(
    90deg,
    hsl(230, 89%, 62%) 0%,
    hsl(230, 89%, 65%) 100%
  );
  --gradient-rock: linear-gradient(
    90deg,
    hsl(349, 71%, 52%) 0%,
    hsl(349, 70%, 56%) 100%
  );
  --gradient-lizard: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --gradient-cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
  --gradient-radial-bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

  --clr-dark-Text: hsl(229, 25%, 31%);
  --clr-score-Text: hsl(229, 64%, 46%);
  --clr-header-Outline: hsl(217, 16%, 45%);

  --ff: "Barlow Semi Condensed", sans-serif;
}

/* ********************************** */
/* ************Components************** */
/* ********************************** */
.container {
  margin-inline: auto;
  padding-inline: 20px;
}
@media (min-width: 767px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1366px;
  }
}

.dark-filter {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none !important;
}

/* ********************************** */
/* ************Global Rules************** */
/* ********************************** */
body {
  background-color: hsl(214, 47%, 23%);
  background: var(--gradient-radial-bg);
  color: white;
  font-family: var(--ff);
  position: relative;
}

/* ********************************** */
/* ************Header************** */
/* ********************************** */

header {
  padding-top: 40px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--clr-header-Outline);
  width: fit-content;
  margin-inline: auto;
  min-width: max(300px, 50vw);
  padding: 1.2rem;
  border-radius: 15px;
}

header .container h1 {
  line-height: 1;
  text-transform: uppercase;
  font-size: 3rem;
}

header .container .score-box {
  background-color: white;
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  color: var(--clr-score-Text);
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
}

header .container .score-box span {
  display: block;
}

header .container .score-box span:last-of-type {
  font-size: 3rem;
  color: var(--clr-dark-Text);
  font-weight: 700;
}

@media (max-width: 768px) {
  header .container h1 {
    font-size: 1.8rem;
  }
  header .container .score-box {
    padding: 0.8rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
  }
  header .container .score-box span:last-of-type {
    font-size: 2rem;
  }
}

/* ********************************** */
/* ************Rules Button************** */
/* ********************************** */
.rules-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 70px 50px;
  background: transparent;
  border: 2px solid var(--clr-header-Outline);
  border-radius: 5px;
  padding: 10px 35px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.02, 0.27, 0.58, 1);
  font-size: 1.6rem;
}
.rules-btn:hover {
  background-color: white;
  border-color: transparent;
  color: var(--clr-dark-Text);
}

@media (max-width: 768px) {
  .rules-btn {
    left: 50%;
    transform: translateX(-50%);
    margin-inline: 0;
    width: fit-content;
    font-size: 1.2rem;
  }
}

/* ********************************** */
/* ************Rules Box************** */
/* ********************************** */
.rules-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: var(--clr-dark-Text);
  padding: 2rem;
  border-radius: 20px;
}

.rules-box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.rules-box .top h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
}

.rules-box .top .close-rules {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  width: 24px;
  height: 24px;
}
@media (max-width: 768px) {
  .rules-box {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rules-box .top .close-rules {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
  }
}

/* ********************************** */
/* ************Pick hand************** */
/* ********************************** */
.pick-hand .container {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 10px;
  max-width: 700px;
  position: relative;
}

.pick-hand .container .triangle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pick-hand .container .hand-box {
  cursor: pointer;
  background-color: white;
  width: max(150px, 10vw);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  position: relative;
  border-radius: 50%;
}
.pick-hand .container .hand-box::before {
  position: absolute;
  content: "";
  width: 125%;
  height: 125%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
}

.pick-hand .container .paper-box::before {
  background: var(--gradient-paper);
}

.pick-hand .container .scissors-box::before {
  background: var(--gradient-scissors);
}

.pick-hand .container .rock-box::before {
  background: var(--gradient-rock);
}

.pick-hand .container .rock-box {
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .pick-hand .container {
    padding-top: 50px;
  }
}
@media (max-width: 440px) {
  .pick-hand .container .hand-box {
    width: 100px;
  }
}
/* Feel free to remove these styles or customise in your own stylesheet 👍
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>*/
